<!DOCTYPE html>
<html>

<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>회원가입 (취약함)</h1>
        <form action="/auth/register" method="POST">
            <p>ID: <input type="text" name="username" placeholder="아이디"></p>
            <p>PW: <input type="password" name="password" placeholder="비밀번호"></p>
            <button type="submit">가입하기</button>
        </form>
        <a href="/">홈으로</a>
    </div>
</body>

</html>